/**
Fernando Sánchez 2021
**/

.label {
    -fx-text-fill: #000;
}

.text-input {
	-fx-text-fill: #000;
	-fx-text-box-border: #999;
}

.combo-box-base {
    -fx-opacity: 0.85;
	-fx-text-fill: #000;
	-fx-text-box-border: #999;
}

/*17 Dic 2021 - FSC*/

Button {
	-fx-border-radius: 15px;
	-fx-background-radius: 15px;
	-fx-background-color: white;
	-fx-border-color: #00833D;
	-fx-border-width: 2px;
	-fx-text-fill: #000;
}

Button:hover{
	-fx-background-color: #00833D;
	-fx-text-fill: white;
}

Button:pressed, Button:default:hover:pressed{
	-fx-background-color: #00833D;
	-fx-text-fill: white;
	-fx-font-size: 11pt;
}

TextField, PasswordField {
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
}

ChoiceBox {
	-fx-background-color: #fff;
	-fx-border-color: #00833D;
	-fx-border-radius: 15px;
}

ChoiceBox:pressed, ChoiceBox:default:hover:pressed:focused, CheckBox:focused:hover {
    -fx-border-color: #4DFFB2;
}

ComboBox {
	-fx-background-color: #fff;
	-fx-border-color: #00833D;
	-fx-border-radius: 15px;
}

ComboBox:pressed, ComboBox:default:hover:pressed:focused, ComboBox:focused:hover {
    -fx-border-color: #4DFFB2;
}

ChoiceBox {
	-fx-background-color: #fff;
	-fx-border-color: #00833D;
	-fx-border-radius: 15px;
}

/************************************ L O G I N ***********************************/

.boton-iniciar{
	-fx-background-color: #00833D;
	-fx-text-fill: #fff;
}

.boton-iniciar:hover{
	-fx-border-color: #000;
	-fx-text-fill: #fff;
}

.boton-cerrar{
    -fx-background-color: #fe2712;
	-fx-border-color: #fe2712;
	-fx-text-fill: #fff;
}

.boton-cerrar:hover{
	-fx-border-color: #000;
}

.boton-cerrar:pressed, .boton-cerrar:default:hover:pressed{
	-fx-border-color: #fe2712;
	-fx-background-color: #fe2712;
	-fx-text-fill: #000;
}

/************************************ G E N E R A L E S ***********************************/
.background {
	-fx-background-color: #1d1d1d;
}

.titulo {
	-fx-background-color:  #00833D;
	-fx-text-fill: white;
}

.subtitulo {
	-fx-background-color: #96D9B3;
}
.subtitulo-cont {
	-fx-background-color: #D5F2E2;
}
.text-field.error { 
	-fx-border-color: red;
	-fx-border-width: 2px;
}
.text-field.success { 
	-fx-border-color: #00ff00;
	-fx-border-width: 2px;
}

.table-row-cell:empty {
	-fx-background-color: white;
}
 
.table-row-cell:empty .table-cell {
	-fx-border-width: 0px;
}

.table-cell{
	-fx-alignment: CENTER;
}

.list-cell:empty {
	-fx-background-color: white;
}

.table-row-cell:selected {
    -fx-background-color: #00833D;
    -fx-background-radius: 15px;
    -fx-text-fill: white;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 1;
}

.tab {
	-fx-background-color: #fff;
	-fx-border-radius: 10px 10px 0px 0px;
	-fx-border-color: #2E4053;
	-fx-background-radius: 10px 10px 0px 0px;
}

.tab-pane .tab:selected {
	-fx-border-radius: 10px 10px 0px 0px;
	-fx-background-radius: 10px 10px 0px 0px;
	-fx-background-color: #00833D;
}

.tab .tab:pressed {
	-fx-border-radius: 10px 10px 0px 0px;
	-fx-background-radius: 10px 10px 0px 0px;
	-fx-border-radius: 10px 10px 0px 0px;
	-fx-border-color: #2E4053;
}

.tab:selected .tab-label {
	-fx-alignment: CENTER;
	-fx-text-fill: white;
}

.tab-pane .tab:hover {
	-fx-background-color: #34495e;
}

.tab:hover .tab-label {
	-fx-alignment: CENTER;
	-fx-text-fill: white;
}
.progress-bar {
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-background-color: white;
    -fx-border-color: #00833D;
    -fx-border-width: 2px;
    -fx-text-fill: #000;
}

.progress-bar .bar {
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-background-color: linear-gradient(to left, #0f3443, #34e89e);
}

/************************************ G R Á F I C A S ***********************************/
.graficaPPG .default-color0.chart-series-line { -fx-stroke: #00ff00; }

.graficaGSR .default-color0.chart-series-line { -fx-stroke: #0000ff; }

.graficaTOBII .default-color0.chart-series-line { -fx-stroke: #F39C12; }
.graficaTOBII .default-color1.chart-series-line { -fx-stroke: #76448A; }