/**
Fernando Sánchez 2021
**/

.root {
     -fx-background-color: linear-gradient(#204686, #000927);
}

.label {
    -fx-text-fill: #fff;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
}

.text-input {
	-fx-text-fill: #000;
	-fx-text-box-border: #999;
}

.combo-box-base {
    -fx-opacity: 0.85;
	-fx-text-fill: #000;
	-fx-text-box-border: #999;
}

/*17 Dic 2021 - FSC*/

Button {/*
    -fx-background-color:
        linear-gradient(#f2f2f2, #d6d6d6),
        linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
        linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );*/

	-fx-border-radius: 15px;
	-fx-background-radius: 15px;
	-fx-background-color: linear-gradient(#126df4, #0d0957);
	-fx-border-color: #031123;
	-fx-text-fill: #fff;
	-fx-effect: dropshadow( three-pass-box , rgba(0,137,255,0.9) , 10, 0.0 , 0 , 2);
}

Button:hover{
	-fx-text-fill: white;
}

Button:pressed, Button:default:hover:pressed{
	-fx-background-color: linear-gradient(#0d0957, #126df4);
	-fx-text-fill: white;
}

TextField, PasswordField {
    -fx-border-radius: 15px;
    -fx-border-color: #0039da;
    -fx-background-radius: 15px;
}

TextField:focused {
    -fx-border-width: 2;
}

.check-box .box {
    -fx-background-color: white;
    -fx-border-color: #126df4;
    -fx-border-radius: 3px;
}

.check-box:selected .mark {
    -fx-background-color: #FFF;
}

.check-box:selected .box {
    -fx-background-color: #126df4;
}

/************************************ L O G I N ***********************************/

.boton-iniciar{
	-fx-background-color: linear-gradient(#00ff66, #004e24);
	-fx-text-fill: #fff;
	-fx-effect: dropshadow( three-pass-box , rgba(0,255,149,0.9) , 10, 0.0 , 0 , 2);
}

.boton-iniciar:hover{
	-fx-border-color: #000;
	-fx-text-fill: #fff;
}

.boton-iniciar:pressed{
    -fx-background-color: linear-gradient(#004E24, #00FF66);
}

.boton-no{
    -fx-background-color: linear-gradient(#FF3300, #4E0000);
	-fx-border-color: #fe2712;
	-fx-text-fill: #fff;
	-fx-effect: dropshadow( three-pass-box , rgba(254,39,18,0.9) , 10, 0.0 , 0 , 2);
}

.boton-no:pressed, .boton-no:default:hover:pressed{
	-fx-background-color: linear-gradient(#4E0000, #FF3300);
}

.boton-cerrar{
    -fx-background-color: none;
    -fx-effect: dropshadow( three-pass-box , rgba(254,39,18,0.9) , 10, 0.0 , 0 , 2);
	-fx-border-color: #fe2712;
	-fx-text-fill: #fff;
}

.boton-cerrar:hover{
    -fx-border-color: #fe2712;
    -fx-background-color: #fe2712;
    -fx-text-fill: #fff;
}

.boton-cerrar:pressed, .boton-cerrar:default:hover:pressed{
	-fx-border-color: #031123;
	-fx-background-color: #fe2712;
    -fx-text-fill: #fff;
}

/************************************ G E N E R A L E S ***********************************/
.background {
	-fx-background-color: #1d1d1d;
}

.titulo {
	-fx-background-color: #126df4;
	-fx-text-fill: white;
}

.subtitulo {
	-fx-background-color: #3B3838;
}
.subtitulo-cont {
	-fx-background-color: #FFF;
	-fx-text-fill: #000;
}

.table-row-cell:empty {
	-fx-background-color: white;
}
 
.table-row-cell:empty .table-cell {
	-fx-border-width: 0px;
}

.table-cell{
	-fx-alignment: CENTER;
}

.list-cell:empty {
	-fx-background-color: white;
}

.table-row-cell:selected {
    -fx-background-color: #00833D;
    -fx-background-radius: 15px;
    -fx-text-fill: white;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 1;
}

.tab-pane>*.tab-header-area>*.tab-header-background
{
    -fx-background-color: -fx-outer-border, -fx-text-box-border, none;
}

.tab {
	-fx-background-color: #fff;
	-fx-border-radius: 10px 10px 0px 0px;
	-fx-border-color: #2E4053;
	-fx-background-radius: 10px 10px 0px 0px;
}

.tab-pane .tab:selected {
	-fx-border-radius: 10px 10px 0px 0px;
	-fx-background-radius: 10px 10px 0px 0px;
	-fx-background-color: #126df4;
}

.tab .tab:pressed {
	-fx-border-radius: 10px 10px 0px 0px;
	-fx-background-radius: 10px 10px 0px 0px;
	-fx-border-radius: 10px 10px 0px 0px;
	-fx-border-color: #126df4;
}

.tab:selected .tab-label {
	-fx-alignment: CENTER;
	-fx-text-fill: white;
}

.tab-pane .tab:hover {
	-fx-background-color: #34495e;
}

.tab:hover .tab-label {
	-fx-alignment: CENTER;
	-fx-text-fill: white;
}
.progress-bar {
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-background-color: white;
    -fx-border-color: #003deb;
    -fx-border-width: 2px;
    -fx-text-fill: #000;
}

.progress-bar .bar {
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-background-color: #126df4;
}

/************************************ G R Á F I C A S ***********************************/
.graficaPPG .default-color0.chart-series-line { -fx-stroke: #00ff00; }
.graficaGSR .default-color0.chart-series-line { -fx-stroke: #0000ff; }

.graficaTOBII .chart-plot-background { -fx-background-color: #3B3838; }

.graficaTOBII .default-color0.chart-series-line { -fx-stroke: #00ff40; }
.graficaTOBII .default-color1.chart-series-line { -fx-stroke: #ff8800; }

.graficaTOBII .default-color0.chart-line-symbol { -fx-background-color: #00ff40; }
.graficaTOBII .default-color1.chart-line-symbol { -fx-background-color: #ff8800; }

.graficaTOBII .chart-vertical-grid-lines { -fx-stroke: none; }

.graficaTOBII .chart-legend {
   -fx-background-color:  #000;
   -fx-stroke: #daa520;
   -fx-text-fill: #fff;
}